# Ignore all dotfiles except .gitignore
.*
!.gitignore

# Ignore compiled sources
*.class

# Ignore Play! working directory
db
eclipse
lib
log
logs
modules
precompiled
project/project
project/target
target
.target
tmp
test-result
server.pid
*.iml
*.eml