@(userPage: helpers.Pagination.Page[models.User], orderBy: String, filter: String)

@setPage(newPage: Int) = @{
    controllers.admin.routes.UserManagement.index(newPage, orderBy, filter) 
}

@toUserLink(user: User) = {
	<a href="@controllers.admin.routes.UserManagement.displayUser(user.userId)">@user.name</a>
}

@layout.master(title = "KillerBone CP", page = "Users") {
	<li>
		<a href="@controllers.admin.routes.Dashboard.index()">Home</a>
		<span class="divider">/</span>
	</li>
	<li class="active">
		Users
	</li>
} {
	@if(flash.containsKey("user.create.success")) {
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>@flash.get("user.create.name")</strong> has been successfully created. 
		</div> 
	}	
	@if(flash.containsKey("user.create.failed")) {
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>Failed</strong> to create user, was the provided information valid and unique? 
		</div> 
	}
	@if(flash.containsKey("user.deleted")) {
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>@flash.get("user.deleted")</strong> has been successfully deleted. 
		</div> 
	}
	<fieldset>
		<legend>Users</legend>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="width: 5%;">Identifier</th>
					<th style="width: 35%;">Name</th>
					<th style="width: 35%;">Email</th>
					<th style="width: 25%;">Last activity</th>
				</tr>
			</thead>
			<tbody>
				@if(userPage.getList.size == 0) {
					<tr>
						<td style="text-align: center;" colspan="4">No users found.</td>
					</tr>
				}
				@for(user <- userPage.getList) {
					<tr>
						<td>@user.userId</td>
						<td>
							@toUserLink(user)
							@if(user.isAdmin) { <span class="label">Admin</span> }
							@if(!user.isActivated) { <span class="label label-warning">Unactivated</span> }
						</td>
						<td>@user.email</td>
						<td>
							@if(user.lastActivityDate != null) {
								<span class="timeago" title="@user.lastActivityDate">
									@user.lastActivityDate.toString("hh:mm a, dd MMMM yyy")
								</span>
							} else {
								-
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
		<table style="width: 100%;">
			<tr style="vertical-align: top;">
				<td>
					<div id="pagination" style="margin: 0px;" class="pagination pull-left">
						<ul>
							@if(userPage.hasPrev) {
								<li class="prev"><a href="@setPage(userPage.getPageIndex - 1)">&larr; Previous</a></li> 
							} else {
								<li class="prev disabled"><a>&larr; Previous</a></li> 
							}
								<li class="current"><a>Displaying @userPage.getDisplayXtoYofZ</a></li> 
							@if(userPage.hasNext) {
								<li class="next"><a href="@setPage(userPage.getPageIndex + 1)">Next &rarr;</a></li> 
							} else {
								<li class="next disabled"><a>Next &rarr;</a></li> 
							}
						</ul>
					</div>
				</td>
				<td>
					<div class="pull-right">
				 		<a href="#searchUserModal" role="button" class="btn" data-toggle="modal">
				  			<i class="icon-search"></i> Search
				  		</a>
				  		@if(orderBy != "" || filter != "") {
					 		<a href='@controllers.admin.routes.UserManagement.index(0, "", "")' class="btn">
					  			<i class="icon-repeat"></i> Reset
					  		</a>				  		
				  		}
				 		<a href="#createUserModal" role="button" class="btn" data-toggle="modal">
				  			<i class="icon-plus"></i> Create
				  		</a>
					</div>	
				</td>
			</tr>
		</table>
	</fieldset>
	<!-- Create User Modal -->
	<div id="createUserModal" class="modal hide fade" role="dialog" aria-labelledby="createUserModal" aria-hidden="true">
		<div class="modal-header">
	    	<h3 id="myModalLabel">Create user</h3>
	  	</div>
	  	<div class="modal-body">
	  	<p>Fill in the form and click on send to create a new user.</p>
	  	<br />
		@helper.form(action = controllers.admin.routes.UserManagement.createUser(), 'id -> "form-createuser", 'class -> "form-horizontal") {
			<fieldset>
				<div class="control-group">
					<label class="control-label">Name</label>
					<div class="controls">
						<input id="name" name="name" type="text" placeholder="" class="input-large" required="">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Email</label>
					<div class="controls">
						<input id="email" name="email" type="text" placeholder="" class="input-large" required="">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Password</label>
					<div class="controls">
						<input id="password" name="password" type="password" placeholder="" class="input-large" required="">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Options</label>
					<div class="controls">
						<label class="checkbox">
							<input type="checkbox" name="isAdmin"> Admin
						</label> 
						<label class="checkbox">
							<input type="checkbox" name="isActivated" checked="checked"> Activated
						</label>
					</div>
				</div>
			</fieldset>
		}
	  	</div>
	  	<div class="modal-footer">
			<a id="close-modal" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
	    	<a id="create-user" class="btn btn-primary">Send</a>
	  	</div>
	</div>	
	<!-- Search User Modal -->
	<div id="searchUserModal" class="modal hide fade" role="dialog" aria-labelledby="searchUserModal" aria-hidden="true">
		<div class="modal-header">
	    	<h3 id="myModalLabel">Search</h3>
	  	</div>
	  	<div class="modal-body">
	  	<p>Fill in the form and click on send to search for users.</p>
	  	<br />
	  	<form method="GET" id="form-searchuser" class="form-horizontal">
			<fieldset>
				<div class="control-group">
					<label class="control-label">Search</label>
					<div class="controls">
						<input id="filter" name="filter" type="text" value="@filter" placeholder="" class="input-large" required="">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Orderby</label>
					<div class="controls">
						<select id="orderBy" name="orderBy">
							<option @if(orderBy == "") { selected="selected" } value="">Identifier</option>
							<option @if(orderBy == "name") { selected="selected" } value="name">Name</option>
							<option @if(orderBy == "email") { selected="selected" } value="email">Email</option>
							<option @if(orderBy == "lastActivityDate") { selected="selected" } value="lastActivityDate">Last activity</option>
						</select>
					</div>
				</div>
			</fieldset>
	  	</form>
	  	</div>
	  	<div class="modal-footer">
			<a id="close-modal" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
	    	<a id="search-user" class="btn btn-primary">Send</a>
	  	</div>
	</div>
} {
	jQuery('.timeago').timeago();
	
	jQuery('#search-user').click(function() {
		jQuery('#form-searchuser').submit();
	});
		
	jQuery('#create-user').click(function() {
		jQuery('#form-createuser').submit(); 
	});
}